{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true,
    },
    "rules": {
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true,
                "ArrowFunctionExpression": true
            }
        }],
        "import/prefer-default-export": 0
    },
    "globals": {
        # lib globals
        "Headers": true,
        "FormData": true,
        "fetch": true,

        # tests units globals
        "proxyquire": true,
        "expect": true,
        "assert": true,
        "mockStore": true,
        "describe": true,
        "beforeEach": true,
        "before": true,
        "it": true
    }
}
